<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="/easyparking1">
    <head>
        <title>easyparking</title>
        <meta charset="utf-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"> </link>     
    </head>
    <body class="bg-light">
        <br />
        <header><h1 align="center"><b>"BIENVENIDOS A EASY PARKING"</b></h1>
        </header>
        <main class="row m-3" ng-controller="filasVehiculos">
            <article class="col-sm"> <!--Angularjs-->
                <section class="m-2 p-3 mx-auto container-md border bg-white">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label"></label>
                        <input type="text" class="form-control" id="exampleFormControlInput1"  value="" ng-model="cedula"/>
                        <br/>
                        <button type="button" class="btn btn-danger" ng-click="consultarVehiculo()">Consulta aquí</button>
                    </div>
                </section>
                <section class="m-2 p-3 mx-auto container-md border bg-white">
                    <div class="mb-3">
                        <label for="usuario" class="form-label">Usuario</label>
                        <input type="text" class="form-control" id="usuario"  value="{{usuario}}" ng-model="usuario"/>
                        <label for="vehiculo" class="form-label">Vehiculo</label>
                        <input type="text" class="form-control" id="vehiculo"  value="{{vehiculo}}" ng-model="vehiculo"/>
                        <label for="pagos" class="form-label">Pagos</label>
                        <input type="text"  class="form-control" id="pagos"  value="{{pagos}}" ng-model="pagos"/>
                        <br/> <!--salto de línea-->
                        <button type="button" class="btn btn-warning" ng-click="actualizar()">Actualizar</button>
                    </div>
                </section>
            </article>
            <article class="col-sm">
                <section class="m-2 p-3 mx-auto container-md border bg-white">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Id_Vehiculos</th>
                                <th scope="col">Placa</th>
                                <th scope="col">Tipo_Vehiculo</th>
                                <th scope="col">Valor_Pagado</th>
                                <th scope="col">Hora_Entrada</th>
                                <th scope="col">Hora_Salida</th>
                                <th scope="col">Id_Usuarios</th>
                                <!--<th scope="col">Acciones</th>-->
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="fila in filas">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <!--<td>
                                    <button type="button" class="btn btn-success">Editar</button>
                                    <button type="button" class="btn btn-danger">Remover</button>
                                </td>-->
                            </tr>
                        </tbody>
                    </table>
                </section>
                <section class="m-2 p-3 mx-auto container-md border bg-white">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Eliminar vehiculo</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1"  value="" ng-model="idcuenta"/>
                        <br/>
                        <button type="button" class="btn btn-warning" ng-click="borrar()">Eliminar</button>
                    </div>
                </section>
            </article>
        </main>
        <footer>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <script src="js/angular-bootstrap.js" type="text/javascript"></script>
        <script src="js/conexion.js"></script>
    </body>
</html>
